body{
	background-image: url('Untitled-3.jpg');
	font-family: roboto;
	font-size: large;
}

.button {
  background-color: #FFFFFF;
  border: 4px double purple;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px 0px;
  cursor: pointer;
  transform: skewX(-10deg) scale(1.3, 1.3);
  transition-duration: 0.5s;
}
.button:hover {
	background-color: purple;
  	border: 4px double black;
}

.loginContainer{
	display: flex;
  	justify-content: right;
  	align-items: top;
}

.loginContainer > button {
  	margin: top;
  	padding: 4px;
  	font-size: 15px;
  	font-family: roboto;
  	background-color: black;
  	color: ghostwhite;
  	border-style: double;
  	border-radius: 5px;
  	border-color: purple;
  	border-width: 4px;
}

#login{
	position: absolute;
	top: 0%;
	right: 11%;
}
#register{
	position: absolute;
	top: 0%;
	right: 0%;
}

h1{
	display: inline-block;
	width: 950px;
	height: 45px;
	font-style: italic;
	text-align: center;
	transform: scale(1.3, 1.3)
}

#entryScreen{
	height: 1000px;
	width: 1000px;
}

#cavidades{
	position: relative;
	text-align: center;
	left: 5%;
	height: 30px;
	width: 350px;
  	background-color: black;
  	color: ghostwhite;
  	border-style: double;
  	border-radius: 5px;
  	border-color: purple;
  	border-width: 4px;
  	transform: skewX(-10deg) scale(1.3, 1.3);
}
#cav{
	position: relative;
	top: -50%;
}

#sementes{
	position: relative;
	text-align: center;
	top: 1.2%;
	left: 5%;
	height: 40px;
	width: 350px;
  	background-color: black;
  	color: ghostwhite;
  	border-style: double;
  	border-radius: 5px;
  	border-color: purple;
  	border-width: 4px;
  	transform: skewX(-10deg) scale(1.3, 1.3);
}
#sementesP{
	position: relative;
	top: -37%;
}
#sementesN{
	width: 60px;
}

#pc{
	position: relative;
	text-align: center;
	top: 2.5%;
	left: 5%;
	height: 35px;
	width: 350px;
  	background-color: black;
  	color: ghostwhite;
  	border-style: double;
  	border-radius: 5px;
  	border-color: purple;
  	border-width: 4px;
  	transform: skewX(-10deg) scale(1.3, 1.3);
}
#pcP{
	position: relative;
	top: -35%;
}

#dificuldade{
	display: none;
	position: relative;
	text-align: center;
	top: 3.7%;
	left: 5%;
	height: 35px;
	width: 350px;
  	background-color: black;
  	color: ghostwhite;
  	border-style: double;
  	border-radius: 5px;
  	border-color: purple;
  	border-width: 4px;
  	transform: skewX(-10deg) scale(1.3, 1.3);
}
#diffP{
	position: relative;
	top: -35%;
}
